# ===========================
# Git
# ===========================
.git

# ===========================
# IDE
# ===========================
.vscode/
.idea/
*.iml

# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Environment Files
# ===========================
.env
.env.*

# ===========================
# Terraform
# ===========================
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# ===========================
# Kubernetes
# ===========================
*.kubeconfig

# ===========================
# Shell
# ===========================
*.bak